<!DOCTYPE HTML>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
        <title>结题项目</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div id='father'>
            <ul class="nav nav-tabs">
                <li @click='rt()'><a class='glyphicon glyphicon-chevron-left' href="#">返回</a>

                </li>
                <li class="active"><a href="#">预算实际比较</a>

                </li>
            </ul>
            <div style='margin-left:10px;margin-right:10px'>
                <template v-for="vp in prolists">
                    <table class="table table-bordered">
                        <caption>项目名称：{{ app.$data.items[vp].title }}</caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th>预算花销</th>
                                <th>实际花销</th>
                            </tr>
                        </thead>
                        <tbody v-for='item in JSON.parse(app.$data.items[vp].costType)'>
                            <tr>
                                <td>{{ item.title }}</td>
                                <td>{{ item.premoney }}</td>
                                <td>{{ calMoney(item.costlists) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </template>
            </div>
        </div>
        <script src="data.js" type="text/javascript" charset="utf-8"></script>
        <script>
        function calMoney(vStr){//计算单笔经费
            var all=0;
            for(var vp in vStr){
                all+=parseInt(vStr[vp].money);
            }
            return all;
        }
        var app = new Vue({
            el: '#father',
            data: {
                items: [],
                prolists: [
                   /* {
                        title: '小黄车',
                        heads: ['设备费', '差旅费', '材料费', '知识产权费', '劳务费', '合计'],
                        costs: [
                            ['1000', '500'],
                             ['1000', '500'],
                             ['1000', '500'],
                             ['1000', '500'],
                             ['1000', '500'],
                             ['5000', '2500']
                        ]
                    },
                    {
                        title: 'OFO',
                        heads: ['设备费', '差旅费', '材料费', '知识产权费', '劳务费', '合计'],
                        costs: [
                            ['1000', '500'],
                             ['1000', '500'],
                             ['1000', '500'],
                             ['1000', '500'],
                             ['1000', '500'],
                             ['5000', '2500']
                        ]
                    }*/
                ]

            },
            methods: {
                rt: function () {
                    $(location).attr('href', 'main.html');
                }
            }
        });
         //1.获取当前用户的project
        $.post("post/project/Get_project.php", function (result) {
            var nowDate = new Date(); //今天的日期
            var day = 60; //提前提示日期
            var totalP = JSON.parse(result);
            app.$data.items = totalP.plist;

            //将pg2中的预警列表更新：结题时间+60>今天即认为是结题

            var finishpro = new Array(); //结题项目
            for (var vp in app.$data.items) {
                var subProject = app.$data.items[vp];
                var overData = strToDate(subProject.over_time); //项目结束的日期

                var value = overData.getTime(); //将时间转为毫秒  
                value -= day * (24 * 3600 * 1000); //将天数转换成毫秒后与开始时间相加得到结束时间的毫秒数         
                var endDate = new Date(value); //将得到的毫秒数转换为日期

                if (overData <= nowDate) { //如果项目结束的时间大于今天，说明结题
                    console.log("结题：" + subProject.id + "-" + subProject.title + ":" + subProject.over_time);
                    //顺便将costType中的json解析
                   // app.$data.items[vp].costType=JSON.parse(app.$data.items[vp].costType);
                    finishpro.push(vp);
                }

            }
            console.log(app.$data.items);
            app.prolists=finishpro;//更新已经结题的prolist
        });
        </script>
    </body>

</html>